<a href="https://colab.research.google.com/github/fatemakotha/1800-Applied-Machine-Learning/blob/main/Lab_1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import modules**

In [ ]:
# random is a package that lets us generate lots of different types of random numbers
import random
# To call functions defined within a package we use the "dot notation"
# The output of the next line should be a 
print(random.random())

0.8290576267558015

**Variables**

In [ ]:
# Here we create a variable called "variable_num" and assign the number 0 to it
variable_num= 0
# Here we create a variable called "variable_test" and assign the text "this is a text" to it
variable_text= "this is a text"
print(variable_num)
print(variable_text)
print(variable_num)
print(variable_text)

0
this is a text
0
this is a text

In [ ]:
day_of_the_week = 'Friday' # good practice
a= 'Friday' # less good because it's less self-explanatory
# Notice the difference in readibility:
print('Today is', day_of_the_week)
print('Today is', a)

Today is Friday
Today is Friday


**After I assign a variable, can I change it?**

In [ ]:
# Reassignment
variable_num = 20
print(variable_num)

20

In [ ]:
  # assign a variable with a modified version of itself:
variable_num = variable_num + variable_num
# assign a variable with a variable
second_variable_num = variable_num
# Check 
print(variable_num)
print(second_variable_num)

40
40

**Data types:**

In [ ]:
variable_int= 1
variable_float= 1.1 #note that 1 is an integer, but 1. is a float!

print(type(variable_int))
print(type(variable_float))
print(type(variable_text)) #remember the one from before?

<class 'int'>
<class 'float'>
<class 'str'>

Strings

In [ ]:
# Single word
var_string='word'
print(var_string)

# Entire phrase 
var_string='This is a string with multiple words'
# Note that Python doesn't really know what a word is. It simply stores a sequence
# of characters that includes white spaces
print(var_string)

word
This is a string with multiple words

In [ ]:
# We can also use double quote
var_string="This is still a string"
print(var_string)

This is still a string

In [ ]:
# Be careful with quotes within quotes!
"I'm using single quotes, but this will create an error"

"I'm using single quotes, but this will create an error"

In [ ]:
var_string="Now I'm ready to use the single quotes inside a string!"
print(var_string)

Now I'm ready to use the single quotes inside a string!

In [ ]:
len('Hello World')

11

In [ ]:
var_string= "012345 This is a string"

In [ ]:
# Show first element (in this case the number 0)
var_string[0]

'0'

In [ ]:
# second character
var_string[1]

'1'

In [ ]:
# how about the last one?
print(var_string[-1])
print(var_string[len(var_string)-1])

g
g

In [ ]:
#Check the string
var_string= "012345 This is a string"
print(var_string)
#This will print character 1,3,5 (not 5 because 7 is not included). 
# You can double check from the string itself!
print(var_string[1:7:2])
# This will print from beginning to end in increments of 2
print(var_string[::2])

012345 This is a string
135
024 hsi  tig

In [ ]:
# Take everything from the character at the start until the 5th one 
# (note the 5th character has the index 4, while index 5, the 6th character, is excluded)
print(var_string[:5])

01234

In [ ]:
# Finally, we can use this to print a string backwards
var_string[::-1]

'gnirts a si sihT 543210'

**String Properties**

In [ ]:
from IPython.utils.sysinfo import pprint
var_string="try"
# # Let's try to change the first letter to 'x'
# var_string[0] = 'x'
# print(var_string[0])
# var_string[0] = "X"

# Don't modify strings.
# Work with them as lists; turn them into strings only when needed.

var_string = list(var_string)
print(var_string)
var_string[0] = "X"
print(var_string)

['t', 'r', 'y']
['X', 'r', 'y']

Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [ ]:
'Insert another {} string with curly brackets: {}'.format('MyNameIsKotha',"the 2nd str")

'Insert another MyNameIsKotha string with curly brackets: the 2nd str'

**Lists**

In [ ]:
var_list = [1, 2, 3, 4, 5, 6, 7, 8]
# lists have the attribute len too! They're sequences after all...
print(len(var_list))

8

In [ ]:
print(var_list[:3])
print(var_list[3:])
print(var_list[-2:])

[1, 2, 3]
[4, 5, 6, 7, 8]
[7, 8]

In [ ]:
var_list.extend([7,8])
var_list

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8]

In [ ]:
var_list.append(9)
var_list

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9]

In [ ]:
new_var_list = [20, 21, 22]
list_of_lists = [var_list, new_var_list]
list_of_lists

[[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9], [20, 21, 22]]

We can index lists of lists by having one indexing follow 

*   List item
*   List item

the other. That is, we need to use two sets of square brackets, like this:

In [ ]:
# take the index 0 from the list with index 1 (that is, the second list)
list_of_lists[1][0] #Thats the second list and first inrteger in the second list

20

In [ ]:
#Finally, an example of list with mixed object types
mixed_list = [0, '0', [1,'1']]
print(mixed_list)

[0, '0', [1, '1']]

 **Tuples**

In [ ]:
#Tuples are just immutable lists. Use () instead of []
var_tuple = (1, 2, 3)
len(var_tuple)

3

In [ ]:
new_var_tuple = (4, 5, 6)
new_var_tuple[2]

6

In [ ]:
list_of_tuples = [var_tuple, new_var_tuple]
list_of_tuples

[(1, 2, 3), (4, 5, 6)]

**Dictionaries**

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

# Call values by their key
my_dict['key1']

'value1'

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
# Let's call items from the dictionary
print(my_dict['key3'])
# Can call an index on that value
print(my_dict['key2'])
# Can then even call methods on that value
print(my_dict['key3'][0].upper())
print(my_dict['key1'])

['item0', 'item1', 'item2']
[12, 23, 33]
ITEM0
123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] + 103

In [ ]:
#Check
my_dict['key1']

226

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
#check
my_dict['key1']

-20

**A few Dictionary Methods**

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return all the keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

**Another way for creating dictionaries**

In [ ]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])
print(captains.get("Enterprise"))
print(captains.get("NX-01"))
for ship in captains:
    print(ship + ": " + captains[ship])

Janeway
Kirk
None
Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Janeway

**Functions**

In [ ]:
# here the function is DEFINED
def SquareIt(x):
    #x is the input parameter
    # this function returns the square of the input x:
    return x ** 2

# here the function is CALLED
# a function CALL is performed using its name followed by the specific parameter 
# we want to apply the function too
print(SquareIt(2))

# we can also apply functions to variables
var_num= 3
print(SquareIt(3))

4
9

In [ ]:
#You can pass functions around as parameters
def MultipleOperations(x, y =2):
    # takes two parameters, returns two outputs
    return x+y, x*y

# Note that for readability we also use the name of the parameters to the function
# This way we don't have to remember the order of the parameters in the definition
print(MultipleOperations(x=3)) #should return 5 and 6
print(MultipleOperations(x=3,y=10)) #should return 13 and 30

(5, 6)
(13, 30)

**Boolean Expressions**

In [ ]:
print(1 == 3)
print(True or False)

False
True

In [ ]:
first_var=1
second_var=3

if first_var == second_var:
    final_var= first_var
elif first_var > second_var:
    final_var= first_var
else:
    final_var= second_var

print(final_var)

3

In [ ]:
first_var=1
second_var=3

if first_var == second_var:
  final_var= first_var
elif first_var > second_var:
  final_var= first_var
else:
  final_var= second_var

print(final_var)

3

**Loops**

In [ ]:
# iterate over all numbers from 0 to 10
for x in [0,1,2,3,4,5,6,7,8,9]:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list = [0,1,2,3,4,5,6,7,8,9]
for number in list:
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# iterate from 0 to 9, ignore the number 1, print the other numbers and stops when 5 has been printed 
for x in range(10):
    if x is 1:
        continue
    if (x > 5):
        break 
    print(x)
print("OR YOU CAN DO THIS")
# iterate from 0 to 9, ignore the number 1, print the other numbers and stops when 5 has been printed 
for x in range(10):
    if x == 1:
        continue
    if (x > 5):
        break 
    print(x)

0
2
3
4
5
OR YOU CAN DO THIS
0
2
3
4
5

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-79-f520634d7a24>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if x is 1:

**Activity**
Write some code that creates a list of integers (any integer), loops through each element of the list, and only prints out each number multiplied by 2

In [ ]:
new_list = list = [0,1,2,3,4,5,6,7,8,9]
for number in new_list:
  print(number*2)

0
2
4
6
8
10
12
14
16
18

Some notes about Python arithmetic
In Python you can do all the basic operations: +,-,*

addition with +
subtraction with -
multiplication with *
division with /
Exponentiation with ** (with the square root being **0.5, try it!)
List item
There are also two special types of divisions:

Floor division: here only the integer part of the results of the division is returned
Modulo division: returns the remainder after the division
That is:

In [ ]:
# Floor Division
print(7//4) 
#7 divided by 4 is 1.75, so its integer part is 1
# Modulo division
print(7%4)

1
3

In [ ]:
var_num= 5
var_num += 4 #this adds 10 to var_num and assigns the result to var_num
print(var_num)

9

In [ ]:
var_num **= .5 #this takes the square root of var_num and assigns the result to var_num
print(var_num)

3.0